<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Symfony Micro Edition</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <style>
        html, body {
            height: 100%;
        }

        body {
            font-size: 14px;
            font-family: Arial, sans-serif;
            line-height: 1.4285714285;
            margin: 0;
        }

        a {
            text-decoration: none;
            color: dodgerblue;
        }

        .app-table
        {
            display: table;
            width: 100%;
            height: 80%;
        }

        .app-table .cell
        {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="app-table">
        <div class="cell">
            {% block body %}{% endblock %}
        </div>
    </div>

</body>
</html>
