{% extends 'layout.html.twig' %}

{% block body %}
    <p>
        Symfony Micro Edition ({{ version }})<br>
        <a href="https://github.com/box2unlock/symfony-micro" target="_blank">https://github.com/box2unlock/symfony-micro</a>
    </p>
{% endblock %}
