{% extends 'layout.html.twig' %}

{% block body %}
    <p>
        <a href="{{ path('hello', {name: 'stranger'}) }}">Hello</a> -
        <a href="{{ path('post') }}">Create New Post</a>
    </p>
{% endblock %}
